*{
    margin: 0;
    padding: 0;
    
}

body {
    background-color:dimgrey;
    font-family: times,serif;
    font-size:16px;
}

h1{
    font-size:2em;
    color:rgb(255,17,255);
}

p {
    font-family:cursive;
}

h2{
    color:red;
    border: 1px solid blue;
}
.atencao{
    color:red;
}
.container{
    width:80%;
    margin: 5px auto;
    border: 1px solid green;
}
.menu{
    border:2px solid blue;
}